body{
	background-image: url('/static/SIMT.png'); /* Replace 'background.jpg' with the actual image filename and path */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;
	text-align: center;

}
#h1{
    color: white;
    font-family:'Courier New', monospace;
	font-size: 1.8em;
	font-weight: 900;
	margin: 20px;
}

.input_field{
	width: 300px;
	height: 50px;
	margin: 30px;
	border: none;
	border-radius: 10px;
	font-family:'Courier New', monospace;
	text-align: center;
	size: 1.3em;
}

.radio_selection{
	font-family:'Courier New', monospace;
	font-size: 1.3em;
	color: rgb(53, 37, 3);
	font-weight: 900;
}

.input_field:focus {
	border: solid 5px #00FFCE;
	outline: none;
}

#search {
	font-size: 1.2em;
	font-family: 'Courier New', monospace;
	font-weight: 900;
	color: black;
	width: 200px;
}

#search:hover {
	background-color: #1bd279;
	cursor: pointer;
}

.search {
	font-size: 1.2em;
	font-family: 'Courier New', monospace;
	font-weight: 900;
	color: black;
	width: 200px;
}

.search:hover {
	background-color: #1bd279;
	cursor: pointer;
}

#create-account-label{
	color: white;
    font-family:'Courier New', monospace;
	font-size: 1.0em;
	font-weight: 900;
	margin: 0px;
}

#create-account-input{
	color: black;
    font-family:'Courier New', monospace;
	font-size: 0.8em;
	font-weight: 900;
	margin: 0px;
	width: 150px;
}



#create-account-input:hover {
	background-color: #1bd279;
	cursor: pointer;
}

#login-label{
	color: white;
    font-family:'Courier New', monospace;
	font-size: 1.0em;
	font-weight: 900;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

#input-label{
	color: black;
    font-family:'Courier New', monospace;
	font-size: 0.8em;
	font-weight: 900;
	margin: 0px;
	width: 100px;
	height: 30px;
}

#input-label:hover {
	background-color: #1bd279;
	cursor: pointer;
}

@media (max-width: 600px) {
	body{
		background-image: url('/static/SIMT-mobile.png');
	}
	input{
		width: 200px;
		height: 50px;
		margin: 30px;
		border: none;
		border-radius: 10px;
		font-family:'Courier New', monospace;
		text-align: center;
		size: 1.3em;
	}

}
